<section class="container spec-Gradient text-monospace pb-5">
  <div class="container text-center">
    <img
      class="rounded-circle spec-ProfilePicture"
      src="{{ .Site.Params.img | absURL }}"
    />
    <h1 class="mt-3 spec-nameText">{{ .Site.Title }}</h1>

    <div class="spec-Buttons-anim">
      <a class="spec-Button" href="{{ .Site.Params.mattermost }}"
        ><i class="fas fa-male"></i> Mattermost</a
      >
      <a class="spec-Button" href="mailto:{{ .Site.Params.email }}"
        ><i class="fas fa-envelope-square"></i> Email</a
      >
      <a class="spec-Button" href="{{ .Site.Params.github }}"
        ><i class="fab fa-github"></i> Github</a
      >
      <a class="spec-Button" href="{{ .Site.Params.linkedIn }}"
        ><i class="fab fa-linkedin-in"></i> LinkedIn</a
      >
    </div>
  </div>
</section>
