* {
  box-sizing: inherit;
}

body {
  box-sizing: border-box !important;
  background-color: #2c2e30 !important;
  color: white;
  min-height: 100vh;
}

.w3-section {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.w3-light-gray {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.w3-container {
  padding: 0.01em 16px;
}

.w3-padding-small {
  padding: 4px 8px !important;
}

.w3-center {
  text-align: center !important;
}

.w3-red {
  color: #fff !important;
  background-color: #007bff !important;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

fixed-height-100 {
  height: 100% !important;
}

/* Custom CSS */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.spec-body {
  position: relative;
}

.spec-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.spec-Gradient {
  background-image: linear-gradient(
    to right bottom,
    rgba(143, 195, 223, 0.65),
    rgba(23, 94, 165, 0.65)
  );
  box-shadow: 0rem 0.2rem 1rem black;
  border-radius: 0.5rem;
  height: 100%;
}

.spec-ProfilePicture {
  margin-top: 2rem;
  border: 2px solid rgba(22, 32, 33, 0.4);
  box-shadow: 0 3px 5px #0c0f12;
  width: 25%;

  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.spec-nameText {
  font-weight: 700;
  text-shadow: 0px 3px 5px #0c0f12;

  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  margin-bottom: 1rem;
}

.spec-Buttons-anim {
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  position: relative !important;
}

.spec-Button,
.spec-Button:link,
.spec-Button:visited {
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgb(230, 244, 253);
  padding: 0.2rem 1rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
  color: #064673;

  /* needed this for the pos relative to apply lol */
  display: inline-block;

  /* for absolute pos */
  transition: all 0.3s;
}

.spec-Button:hover {
  background-color: #d2e8f8;
  transform: translateY(-8px);
}

.spec-Button:active,
.spec-Button:focus {
  outline: none;
  /* realted to initial link state */
  box-shadow: 0 3px 10px #101518;
  transition: all 0.2s;
  transform: translateY(0);
}

u-pad-bottom-med {
  padding-bottom: 100px !important;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  /*
    60% {
      transform: rotate(289deg);
    }
  */

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
