{{define "main"}}
<section id="posts" class="container text-center text-monospace mt-4">
	<h3>My Skills</h3>
	<table style="width:100%">
			<td valign="top">
		<div class="text-center">
			{{range where .Site.Pages.ByWeight "Params.section" "1"}}
				{{if eq .Section "post"}}
				<div class="text-justified mt-3"style="max-width: 500px; margin: 0 auto;">
					<div>
						<h5>{{.Params.Summary}}</h5>
						<img class="skill-image" src="{{.Params.Image}}" style="float: left;" height="50" width="50">
						<div class="w3-light-grey" style="color: #000; background-color: #f1f1f1; margin: 0 80px;">
							<div class="w3-container w3-padding-small w3-red w3-center" style="width: {{.Params.Weight}}">
								{{.Params.Weight}} </div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
				{{end}}
			{{end}}
		</div></td>
			<td valign="top">
		<div class="text-center">
			{{range where .Site.Pages.ByWeight "Params.section" "2"}}
				{{if eq .Section "post"}}
				<div class="text-justified mt-3"style="max-width: 500px; margin: 0 auto;">
					<div>
						<h5>{{.Params.Summary}}</h5>
						<img class="skill-image" src="{{.Params.Image}}" style="float: left;" height="50" width="50">
						<div class="w3-light-grey" style="color: #000; background-color: #f1f1f1; margin: 0 80px;">
							<div class="w3-container w3-padding-small w3-red w3-center" style="width: {{.Params.Weight}}">
								{{.Params.Weight}} </div>
						</div>
					</div>
					<div style="clear: both;"></div>
				</div>
				{{end}}
			{{end}}
		</div>
		</td>
		<td valign="top">
			<div class="text-center">
				{{range where .Site.Pages.ByWeight "Params.section" "3"}}
					{{if eq .Section "post"}}
					<div class="text-justified mt-3"style="max-width: 500px; margin: 0 auto;">
						<div>
							<h5>{{.Params.Summary}}</h5>
							<img class="skill-image" src="{{.Params.Image}}" style="float: left;" height="50" width="50">
							<div class="w3-light-grey" style="color: #000; background-color: #f1f1f1; margin: 0 80px;">
								<div class="w3-container w3-padding-small w3-red w3-center" style="width: {{.Params.Weight}}">
									{{.Params.Weight}} </div>
							</div>
						</div>
						<div style="clear: both;"></div>
					</div>
					{{end}}
				{{end}}
			</div>
			</td>
		</table>
</section>
{{end}}
